![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [92]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head(20)

    student_id      city  ...  training_hours job_change
0         8949  city_103  ...              36        1.0
1        29725   city_40  ...              47        0.0
2        11561   city_21  ...              83        0.0
3        33241  city_115  ...              52        1.0
4          666  city_162  ...               8        0.0
5        21651  city_176  ...              24        1.0
6        28806  city_160  ...              24        0.0
7          402   city_46  ...              18        1.0
8        27107  city_103  ...              46        1.0
9          699  city_103  ...             123        0.0
10       29452   city_21  ...              32        1.0
11       23853  city_103  ...             108        0.0
12       25619   city_61  ...              23        0.0
13        5826   city_21  ...              24        0.0
14        8722   city_21  ...              26        0.0
15        6588  city_114  ...              18        0.0
16        4167  city_103  ...             106        0.0
17        5764   city_21  ...               7        0.0
18        2156   city_21  ...              23        1.0
19       11399   city_13  ...             132        1.0

[20 rows x 14 columns]

In [93]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

ds_jobs_transformed.info()

for col in ds_jobs_transformed.columns:
    print(f"\n\n{col}: {ds_jobs_transformed[col].nunique()} unique\n{ds_jobs_transformed[col].value_counts(dropna=False)}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB


student_id: 19158 unique
8949     1
10660    1
30726    1
18507    1
31273    1
        ..
11547    1
32067    1
14356    1
18051    1
23834    1
Name: student_id, Length: 19158, dtype: int64


city: 123 unique
city_103    4355
city_21     2702
city_16     1533
city_114    1336
city_160     845
            ...
city_129       3
city_111       3
city_121       3
city_140       1
city_171       1
Name: city, Length: 123, dtype: int64


city_development_index: 93 unique
0.920    5200
0.624    2702
0.910    1533
0.926    1336
0.698     683
         ...
0.649       4
0.807       4
0.781       3
0.625       3
0.664       1
Name: city_development_index, Length: 93, dtype: int64


gender: 3 unique
Male      13221
NaN        4508
Female     1238
Other       191
Name: gender, dtype: int64


relevant_experience: 2 unique
Has relevant experience    13792
No relevant experience      5366
Name: relevant_experience, dtype: int64


enrolled_university: 3 unique
no_enrollment       13817
Full time course     3757
Part time course     1198
NaN                   386
Name: enrolled_university, dtype: int64


education_level: 5 unique
Graduate          11598
Masters            4361
High School        2017
NaN                 460
Phd                 414
Primary School      308
Name: education_level, dtype: int64


major_discipline: 6 unique
STEM               14492
NaN                 2813
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: major_discipline, dtype: int64


experience: 22 unique
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
NaN      65
Name: experience, dtype: int64


company_size: 8 unique
NaN          5938
50-99        3083
100-499      2571
10000+       2019
10-49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: company_size, dtype: int64


company_type: 6 unique
Pvt Ltd                9817
NaN                    6140
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: company_type, dtype: int64


last_new_job: 6 unique
1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
NaN       423
Name: last_new_job, dtype: int64


training_hours: 241 unique
28     329
12     292
18     291
22     282
50     279
      ...
266      6
234      5
272      5
286      5
238      4
Name: training_hours, Length: 241, dtype: int64


job_change: 2 unique
0.0    14381
1.0     4777
Name: job_change, dtype: int64

In [94]:
ds_jobs_transformed = ds_jobs.copy()


ds_jobs_transformed['student_id'] = ds_jobs_transformed['student_id'].astype(np.int32)

ds_jobs_transformed['city'] = ds_jobs_transformed['city'].astype('category')
city_sorted = sorted(ds_jobs_transformed['city'].cat.categories)
ds_jobs_transformed['city'].cat.reorder_categories(city_sorted, inplace=True)

ds_jobs_transformed['city_development_index'] = ds_jobs_transformed['city_development_index'].astype(np.float16)

ds_jobs_transformed['gender'] = ds_jobs_transformed['gender'].astype('category').cat.reorder_categories(['Male', 'Female', 'Other'], ordered=True)
ds_jobs_transformed['gender'] = ds_jobs_transformed['gender'].fillna('Other')

ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].astype('category')
ds_jobs_transformed['relevant_experience'] = (ds_jobs_transformed['relevant_experience'] == ds_jobs_transformed['relevant_experience'].unique()[0])

ds_jobs_transformed['enrolled_university'] = ds_jobs_transformed['enrolled_university'].astype('category').cat.set_categories(['Full time course', 'Part time course', 'Other'], ordered=True).fillna('Other')

ds_jobs_transformed['education_level'] = ds_jobs_transformed['education_level'].astype('category').cat.add_categories('Unknown').fillna('Unknown')\
.cat.reorder_categories(['Phd', 'Masters', 'Graduate', 'High School', 'Primary School', 'Unknown'], ordered=True)

ds_jobs_transformed['major_discipline'] = ds_jobs_transformed['major_discipline'].astype('category').cat.add_categories('Unknown').fillna('Unknown')

years = [str(i) for i in range(10, 21)] + ['>20']
ds_jobs_transformed['experience'] = ds_jobs_transformed['experience'].astype('category').cat.set_categories(years, ordered=True)
#print(ds_jobs_transformed['experience'].value_counts(dropna=False, sort=False))
ds_jobs_transformed = ds_jobs_transformed[ds_jobs_transformed['experience'].isna()==False]

company_size_ordered = ['1000-4999', '5000-9999', '10000+']
ds_jobs_transformed['company_size'] = pd.Categorical(ds_jobs_transformed['company_size'], 
                                    categories=company_size_ordered, 
                                    ordered=True)
ds_jobs_transformed = ds_jobs_transformed[ds_jobs_transformed['company_size'].isna()==False]

ds_jobs_transformed['company_type'] = ds_jobs_transformed['company_type'].astype('category').cat.add_categories('Unknown').fillna('Unknown')

new_job_ordered = ['1', '2', '3', '4', '>4', 'never', 'Unknown']
ds_jobs_transformed['last_new_job'] = pd.Categorical(ds_jobs_transformed['last_new_job'], 
                                    categories=new_job_ordered, 
                                    ordered=True).fillna('Unknown')
#print(ds_jobs_transformed['last_new_job'].value_counts(dropna=False, sort=False))

ds_jobs_transformed['training_hours'] = ds_jobs_transformed['training_hours'].astype(np.int32)

ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].astype(bool)



ds_jobs_transformed.info()

print(ds_jobs_transformed.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  2201 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2201 non-null   category
 6   education_level         2201 non-null   category
 7   major_discipline        2201 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2201 non-null   category
 11  last_new_job            2201 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.3 KB
(2201, 14)